*.class
~*
*~

# Package Files #
*.jar
*.war
*.ear

# Maven #
server/target/
.classpath
.project
.settings
target

# gradle
build/


.idea/
*.iml

bower_components
node_modules

src/main/webapp/dist/js/app.js