<h1 class="page-header">Home</h1>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <ul class="nav nav-tabs" ng-init="tab = 'mensalidades.atrasada'">
            <li ng-class="{'active': tab == 'mensalidades.atrasada'}"><a ng-click="tab = 'mensalidades.atrasada'">
                Mensalidades em atraso
                <span class="label label-warning">{{mensalidadesAtrasada.length}}</span>
            </a>
            </li>
            <li ng-class="{'active': tab == 'cliente.sem.mensalidade'}"><a ng-click="tab = 'cliente.sem.mensalidade'">
                Clientes sem mensalidade
                <span class="label label-danger">{{clientesSemMensalidade.length}}</span>
            </a>
            </li>
            <li ng-class="{'active': tab == 'ultimas.instalacoes'}"><a ng-click="tab = 'ultimas.instalacoes'">
                Ultimas instalações
                <span class="label label-success">{{contratosNovos.length}}</span>
            </a>
            </li>
            <li ng-class="{'active': tab == 'clientes.inativo'}"><a ng-click="tab = 'clientes.inativo'">
                Clientes inativo
                <span class="label label-warning">{{clientesInativo.length}}</span>
            </a>
            </li>
        </ul>
    </div>
    <div class="tab-content col-lg-12 col-md-12">
        <div class="tab-pane fade" ng-class="{'active in': tab == 'mensalidades.atrasada'}">
            <div ng-include="'app/views/home/partials/mensalidades.atrasada.html'"></div>
        </div>
        <div class="tab-pane" ng-class="{'active in': tab == 'cliente.sem.mensalidade'}">
            <div ng-include="'app/views/home/partials/cliente.sem.mensalidade.html'"></div>
        </div>
        <div class="tab-pane fade" ng-class="{'active in': tab == 'ultimas.instalacoes'}">
            <div ng-include="'app/views/home/partials/contratos.novos.html'"></div>
        </div>
        <div class="tab-pane fade" ng-class="{'active in': tab == 'clientes.inativo'}">
            <div ng-include="'app/views/home/partials/cliente.inativo.html'"></div>
        </div>
    </div>
</div>