<h1 class="page-header">
    <a ng-href="#/planos">
        <i class="fa fa-arrow-circle-left"></i>
    </a>
    Plano
    <small>{{plano.id ? 'Editar' : 'Novo'}}</small>
</h1>

<form name="form" class="form-horizontal" ng-submit="form.$valid && save(plano)" novalidate>
    <div class="col-lg-4" ng-class="{'has-error': (form.nome.$invalid && (form.$submitted || form.nome.$touched))}">
        <label>Nome</label>
        <input name="nome" ng-model="plano.nome" class="form-control" type="text" required>
        <p class="help-block" ng-show="form.$submitted || form.nome.$touched">
            <i ng-show="form.nome.$error.required">Qual o nome do plano?</i>
        </p>
    </div>

    <div class="col-lg-2"
         ng-class="{'has-error': (form.download.$invalid && (form.$submitted || form.download.$touched))}">
        <label>Download</label>
        <div class="input-group">
            <input name="download" ng-model="plano.download" class="form-control" type="number" required>
            <i class="input-group-addon">k</i>
        </div>
        <p class="help-block" ng-show="form.$submitted || form.download.$touched">
            <i ng-show="form.download.$error.required">Qual o download para esse plano?</i>
            <i ng-show="form.download.$error.number">Valor inválido</i>
        </p>
    </div>

    <div class="col-lg-2"
         ng-class="{'has-error': (form.upload.$invalid && (form.$submitted || form.upload.$touched))}">
        <label>Upload</label>
        <div class="input-group">
            <input name="upload" ng-model="plano.upload" class="form-control" type="number" required>
            <i class="input-group-addon">k</i>
        </div>
        <p class="help-block" ng-show="form.$submitted || form.upload.$touched">
            <i ng-show="form.upload.$error.required">Qual o upload para esse plano?</i>
            <i ng-show="form.upload.$error.number">Valor inválido</i>
        </p>
    </div>

    <div class="col-lg-2"
         ng-class="{'has-error': (form.valorInstalacao.$invalid && (form.$submitted || form.valorInstalacao.$touched))}">
        <label>Valor instalação</label>
        <input name="valorInstalacao" ng-model="plano.valorInstalacao" class="form-control" type="number" step="any"
               required>
        <p class="help-block" ng-show="form.$submitted || form.valorInstalacao.$touched">
            <i ng-show="form.valorInstalacao.$error.required">Qual o valor da instalacao para esse plano?</i>
            <i ng-show="form.valorInstalacao.$error.number">Valor inválido</i>
        </p>
    </div>

    <div class="col-lg-2"
         ng-class="{'has-error': (form.valorTitulo.$invalid && (form.$submitted || form.valorTitulo.$touched))}">
        <label>Valor titulo</label>
        <input name="valorTitulo" ng-model="plano.valorTitulo" class="form-control" type="number" step="any"
               required>
        <p class="help-block" ng-show="form.$submitted || form.valorTitulo.$touched">
            <i ng-show="form.valorTitulo.$error.required">Qual o valor da instalacao para esse plano?</i>
            <i ng-show="form.valorTitulo.$error.number">Valor inválido</i>
        </p>
    </div>

    <div class="col-lg-12">
        <br/>
        <br/>

        <div class="pull-right">
            <button class="btn btn-primary" type="submit">{{plano.id ? 'Atualizar' : 'Salvar'}}</button>
            <button class="btn btn-danger" type="button" ng-show="plano.id"
                    ng-click="remove(plano)"
                    confirm="Tem certeza que desseja remover o plano {{plano.nome}}?">
                Remover
            </button>
            <a ng-href="#/planos" class="btn btn-default">Voltar</a>
        </div>
        <br/>
        <br/>
    </div>
</form>
