<h1 class="page-header">
    <a ng-href="#/charges?clienteId={{clienteId}}">
        <i class="fa fa-arrow-circle-left"></i>
    </a>
    Cobrança
    <small>{{charge.id ? 'Editar' : 'Novo'}}</small>
</h1>

<form name="form" class="form-horizontal">

    <div class="col-xs-12">
        <div class="col-xs-5 col-sm-4 col-md-3 pull-right" align="right" ng-show="charge.paymentUrl">
            <a title="Link de pagamento para cobrança {{charge.chargeId}}" ng-href="{{charge.paymentUrl}}"
               target="_blank">
                Link de pagamento
            </a>
        </div>

        <div class="col-xs-5 col-sm-4 col-md-3 pull-right" align="right" ng-show="charge.carnet.link">
            <a title="Carnê {{charge.carnet.carnetId}} em PDF" ng-href="{{charge.carnet.link}}" target="_blank">
                Carnê: {{charge.carnet.carnetId}} - {{charge.parcel}}
            </a>
        </div>

        <div class="col-xs-4 col-md-3 pull-right" align="right" ng-show="charge.url">
            <a title="Cobrança {{charge.chargeId}} em PDF" ng-href="{{charge.url}}" target="_blank">
                Cobrança: {{charge.chargeId}}
            </a>
        </div>
    </div>

    <div class="col-md-10 col-xs-12">
        <label>Cliente:</label>
        <div class="form-control">{{charge.cliente.id}} - {{charge.cliente.nome}}</div>
    </div>

    <div class="col-md-2 col-xs-12">
        <label>Status</label>
        <div class="form-control">{{charge.status}}</div>
    </div>

    <div class="col-xs-12"
         ng-class="{'has-error': (form.description.$invalid && (form.$submitted || form.description.$touched))}">
        <label>Descrição</label>
        <input type="text" name="description" ng-model="charge.description" class="form-control" required
               minlength="1" maxlength="255" ng-disabled="charge.id">
        <p class="help-block" ng-show="form.$submitted || form.description.$touched">
            <i ng-show="form.description.$error.required">Descreva o motivo dessa cobrança?</i>
            <i ng-show="form.description.$error.minlength">A Mensagem deve conter no minimo 1 caracteres</i>
            <i ng-show="form.description.$error.maxlength">A Mensagem deve conter no máximo 255 caracteres</i>
        </p>
    </div>

    <div class="col-xs-12"
         ng-class="{'has-error': (form.message.$invalid && (form.$submitted || form.message.$touched))}">
        <label>Mensagem</label>
        <input type="text" name="message" ng-model="charge.message" class="form-control"
               placeholder="Mensagem para ser exibida no link de pagamento" ng-required="!charge.carnetId" ng-disabled="charge.id"
               minlength="3" maxlength="80">
        <p class="help-block" ng-show="form.$submitted || form.message.$touched">
            <i ng-show="form.message.$error.required">Defina a mensagem para ser exibida no link de pagamento</i>
            <i ng-show="form.message.$error.minlength">A Mensagem deve conter no minimo 3 caracteres</i>
            <i ng-show="form.message.$error.maxlength">A Mensagem deve conter no máximo 80 caracteres</i>
        </p>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12"
         ng-class="{'has-error': (form.value.$invalid && (form.$submitted || form.value.$touched))}">
        <label>Valor</label>
        <input type="number" step="any" name="value" ng-model="charge.value" class="form-control" required
               ng-disabled="charge.id" ng-change="updateValues(charge)">
        <p class="help-block" ng-show="form.$submitted || form.value.$touched">
            <i ng-show="form.value.$error.required">Qual o valor dessa cobrança?</i>
            <i ng-show="form.value.$error.number">Valor inválido.</i>
        </p>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12"
         ng-class="{'has-error': (form.discount.$invalid && (form.$submitted || form.discount.$touched))}">
        <label>Desconto</label>
        <input type="number" step="any" name="discount" ng-model="charge.discount" class="form-control"
               ng-disabled="charge.id" ng-change="updateValues(charge)">
        <p class="help-block" ng-show="form.$submitted || form.discount.$touched">
            <i ng-show="form.discount.$error.number">Valor inválido.</i>
        </p>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12" ng-show="charge.id && !isAssociable(charge) && charge.status !== 'PAID'">
        <div class="input-group">
            <label>Recebi o valor pessoalmente</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="manualPayment" ng-model="charge.manualPayment"
                           ng-change="updateValues(charge)">
                    Baixa manual
                </label>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12" ng-if="isPaid(charge)"
         ng-class="{'has-error': (form.paidValue.$invalid && (form.$submitted || form.paidValue.$touched))}">
        <label>Valor Pago</label>
        <input type="number" step="any" name="paidValue" ng-model="charge.paidValue" class="form-control" required
               ng-disabled="!charge.manualPayment">
        <p class="help-block" ng-show="form.$submitted || form.paidValue.$touched">
            <i ng-show="form.paidValue.$error.required">Qual o valor pago dessa cobrança?</i>
            <i ng-show="form.paidValue.$error.number">Valor inválido.</i>
        </p>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12"
         ng-class="{'has-error': (form.expireAt.$invalid && (form.$submitted || form.expireAt.$touched))}">
        <div class="input-group">
            <label>Vencimento</label>
            <div class="input-group">
                <input name="expireAt" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                       ng-model="charge.expireAt" ng-disabled="isPaid(charge)"
                       is-open="status.opened" close-text="Close" required/>
                <i class="input-group-btn" ng-hide="isPaid(charge)">
                    <button type="button" class="btn btn-default" ng-click="status.opened = !status.opened">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </i>
            </div>
            <p class="help-block" ng-show="form.$submitted || form.expireAt.$touched">
                <i ng-show="form.expireAt.$error.required">
                    Escolha a data de vencimento desta cobrança?
                </i>
            </p>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12" ng-show="isPaid(charge)"
         ng-class="{'has-error': (form.paidAt.$invalid && (form.$submitted || form.paidAt.$touched))}">
        <div class="input-group">
            <label>Pago em</label>
            <div class="input-group">
                <input name="paidAt" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                       ng-change="updateValues(charge)"
                       ng-model="charge.paidAt" ng-disabled="isPaidViaIntegration(charge)"
                       is-open="status.opened2" close-text="Close"/>
                <i class="input-group-btn" ng-hide="isPaidViaIntegration(charge)">
                    <button type="button" class="btn btn-default" ng-click="status.opened2 = !status.opened2">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </i>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <br/>
        <br/>

        <div class="pull-right">
            <button class="btn btn-primary" type="submit" ng-click="teste(form) && form.$valid && create(charge)" ng-hide="charge.id">
                Criar
            </button>
            <button class="btn btn-primary" type="button"
                    ng-click="teste(form) && form.$valid && updateExpireAt(charge)"
                    ng-show="charge.id && !isPaid(charge)">
                Atualizar Vencimento
            </button>
            <button class="btn btn-primary" type="button" ng-click="form.$valid && createBankingBillet(charge)"
                    ng-show="isAssociable(charge)">
                Boleto bancario
            </button>
            <button class="btn btn-primary" type="button" ng-click="form.$valid && createPaymentLink(charge)"
                    ng-show="isAssociable(charge)">
                Link de pagamento
            </button>
            <button class="btn btn-success" type="button" ng-click="manualPayment(charge)"
                    ng-show="charge.id && charge.status !== 'CANCELED' && charge.status !== 'PAID' && charge.manualPayment"
                    confirm="Confirma que recebeu o valor de {{charge.paidValue | currency}} do cliente {{charge.cliente.nome}} referente a cobrança de vencimento {{charge.expireAt | date}}?">
                Efetuar baixa manual
            </button>
            <button class="btn btn-danger" type="button" ng-show="isCancelable(charge)" ng-click="cancel(charge)"
                    confirm="Tem certeza que desseja cancelar a cobrança do(a) {{charge.cliente.nome}} no valor de {{charge.value | currency}} com vencimento para {{charge.expireAt | date}}?">
                Cancelar cobrança
            </button>
            <a ng-href="#/charges?clienteId={{clienteId}}" class="btn btn-default">Voltar</a>
        </div>
        <br/>
        <br/>
    </div>
</form>
