<h1 class="page-header">
    <a ng-href="#/charges?clienteId={{clienteId}}">
        <i class="fa fa-arrow-circle-left"></i>
    </a>
    Cobrança
    <small>{{charge.id ? 'Editar' : 'Novo'}}</small>
</h1>

<form name="form" class="form-horizontal">

    <div class="col-md-2" align="right" ng-show="charge.paymentUrl">
        <a title="Carnê PDF" ng-href="{{charge.paymentUrl}}" target="_blank">
            <b>Link de pagamento</b>
        </a>
    </div>

    <div class="col-md-2" align="right" ng-show="charge.carnet.link">
        <a title="Carnê PDF" ng-href="{{charge.carnet.link}}" target="_blank">
            <b>Carnê:</b> {{charge.carnet.carnetId}} - {{charge.parcel}}
        </a>
    </div>

    <div class="col-md-2" align="right" ng-show="charge.url">
        <a title="parcela{{charge.parcel}}.pdf" ng-href="{{charge.url}}" target="_blank">
            <b>Cobrança:</b> {{charge.chargeId}}
        </a>
    </div>

    <div class="col-lg-12">
        <label>Cliente:</label>
        <div class="form-control">{{charge.cliente.id}} - {{charge.cliente.nome}}</div>
    </div>

    <div class="col-md-3" ng-show="charge.status">
        <label>Status</label>
        <div class="form-control">{{charge.status}}</div>
    </div>

    <div class="col-md-3"
         ng-class="{'has-error': (form.description.$invalid && (form.$submitted || form.description.$touched))}">
        <label>Descrição</label>
        <input type="text" name="description" ng-model="charge.description" class="form-control" required
               minlength="1" maxlength="255" ng-disabled="charge.id">
        <p class="help-block" ng-show="form.$submitted || form.description.$touched">
            <i ng-show="form.description.$error.required">Descreva o motivo dessa cobrança?</i>
            <i ng-show="form.value.$error.minlength">A Mensagem deve conter no minimo 1 caracteres</i>
            <i ng-show="form.value.$error.maxlength">A Mensagem deve conter no máximo 255 caracteres</i>
        </p>
    </div>

    <div class="col-md-3"
         ng-class="{'has-error': (form.message.$invalid && (form.$submitted || form.message.$touched))}">
        <label>Mensagem</label>
        <input type="text" name="message" ng-model="charge.message" class="form-control"
               placeholder="Mensagem para ser exibida no link de pagamento" required ng-disabled="charge.id"
               minlength="3" maxlength="80">
        <p class="help-block" ng-show="form.$submitted || form.message.$touched">
            <i ng-show="form.value.$error.required">Defina a mensagem para ser exibida no link de pagamento</i>
            <i ng-show="form.value.$error.minlength">A Mensagem deve conter no minimo 3 caracteres</i>
            <i ng-show="form.value.$error.maxlength">A Mensagem deve conter no máximo 80 caracteres</i>
        </p>
    </div>

    <div class="col-md-3"
         ng-class="{'has-error': (form.value.$invalid && (form.$submitted || form.value.$touched))}">
        <label>Valor</label>
        <input type="number" step="any" name="value" ng-model="charge.value" class="form-control" required
               ng-disabled="charge.id">
        <p class="help-block" ng-show="form.$submitted || form.value.$touched">
            <i ng-show="form.value.$error.required">Qual o valor dessa cobrança?</i>
            <i ng-show="form.value.$error.number">Valor inválido.</i>
        </p>
    </div>

    <div class="col-md-3"
         ng-class="{'has-error': (form.discount.$invalid && (form.$submitted || form.discount.$touched))}">
        <label>Desconto</label>
        <input type="number" step="any" name="discount" ng-model="charge.discount" class="form-control">
        <p class="help-block" ng-show="form.$submitted || form.discount.$touched">
            <i ng-show="form.discount.$error.number">Valor inválido.</i>
        </p>
    </div>

    <div class="col-md-3">
        <label>Pago em</label>
        <input type="text" name="paidAt" ng-model="charge.paidAt" class="form-control" disabled>
    </div>

    <div class="col-md-3"
         ng-class="{'has-error': (form.expireAt.$invalid && (form.$submitted || form.expireAt.$touched))}">
        <div class="input-group">
            <label>Vencimento</label>
            <div class="input-group">
                <input name="expireAt" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                       ng-model="charge.expireAt"
                       is-open="status.opened" close-text="Close" required/>
                <i class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="status.opened = !status.opened">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </i>
            </div>
            <p class="help-block" ng-show="form.$submitted || form.expireAt.$touched">
                <i ng-show="form.expireAt.$error.required">
                    Escolha a data de vencimento desta cobrança?
                </i>
            </p>
        </div>
    </div>

    <div class="col-md-12">
        <br/>
        <br/>

        <div class="pull-right">
            <button class="btn btn-primary" type="submit" ng-click="form.$valid && create(charge)" ng-hide="charge.id">
                Criar
            </button>
            <button class="btn btn-primary" type="button" ng-click="form.$valid && createBankingBillet(charge)"
                    ng-show="charge.id && charge.status === 'NEW'">
                Boleto bancario
            </button>
            <button class="btn btn-primary" type="button" ng-click="form.$valid && createPaymentLink(charge)"
                    ng-show="charge.id && charge.status === 'NEW'">
                Link de pagamento
            </button>
            <button class="btn btn-danger" type="button" ng-show="charge.id && charge.status !== 'CANCELED'"
                    ng-click="cancel(charge)"
                    confirm="Tem certeza que desseja cancelar a cobrança do(a) {{charge.cliente.nome}} no valor de {{charge.value | currency}} com vencimento para {{charge.expireAt | date}}?">
                Cancelar cobrança
            </button>
            <a ng-href="#/charges?clienteId={{clienteId}}" class="btn btn-default">Voltar</a>
        </div>
        <br/>
        <br/>
    </div>
</form>
