<h1 class="page-header">
    <a ng-href="#/">
        <i class="fa fa-arrow-circle-left"></i>
    </a>
    Equipamentos
    <a href="#/equipamento" class="btn btn-primary pull-right">
        <i class="fa fa-plus"></i>
        Adicionar
    </a>
</h1>

<div class="dataTables_wrapper form-inline dt-bootstrap">
    <div class="row">
        <div class="col-sm-6">
            <div class="dataTables_length">
                <label>Exibir
                    <select name="length" class="form-control input-sm" ng-model="limit" ng-init="limit = 10"
                            ng-options="value as value for value in [10,25,50,100]">
                    </select>
                </label>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="example_filter" class="dataTables_filter">
                <label>Pesquisar:
                    <input ng-model="searchText" type="search" class="form-control input-sm" placeholder="Pesquisar...">
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table cellspacing="0" width="100%" class="table table-striped table-bordered dataTable"
                   style="width: 100%;">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>MAC</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>MAC</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </tfoot>
                <tbody>
                <tr ng-repeat="it in result = (equipamentos | filter:searchText) | limitTo:limit:(currentPage -1) * limit track by it.id">
                    <td>{{it.id}}</td>
                    <td>{{it.marca}}</td>
                    <td>{{it.modelo}}</td>
                    <td>{{it.mac}}</td>
                    <td>{{it.status}}</td>
                    <td class="text-center">
                        <a ng-href="#/equipamento/{{it.id}}" class="btn btn-primary" title="Editar">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="dataTables_info">
                Exibindo de {{(currentPage - 1) * limit + 1}} ate {{(currentPage - 1) * limit + limit}} de
                {{result.length}}
            </div>
        </div>
        <uib-pagination total-items="result.length" ng-model="currentPage" items-per-page="limit"
                        ng-init="currentPage = 1"
                        class="pagination-sm" max-size="6" boundary-links="true"></uib-pagination>

    </div>
</div>