<h1 class="page-header">
    <a ng-href="#/titulos/cliente/{{clienteId}}">
        <i class="fa fa-arrow-circle-left"></i>
    </a>
    Titulo
    <small>{{titulo.id ? 'Editar' : 'Novo'}}</small>
</h1>

<form name="form" class="form-horizontal" ng-submit="form.$valid && save(titulo)" novalidate>

    <div class="col-lg-12">
        <label>Cliente:</label>
        <div class="form-control">{{titulo.cliente.id}} - {{titulo.cliente.nome}}</div>
    </div>

    <div class="col-md-3"
         ng-class="{'has-error': (form.status.$invalid && (form.$submitted || form.status.$touched))}">
        <label>Status</label>
        <select name="status" ng-model="titulo.status" class="form-control" required
                ng-change="atualizarValores(titulo)"
                ng-options="status.value as status.descricao for status in statusList">
            <option value="">---Escolha o status do boleto---</option>
        </select>
        <p class="help-block" ng-show="form.$submitted || form.status.$touched">
            <i ng-show="form.status.$error.required">Qual status do boleto?</i>
        </p>
    </div>

    <div class="col-md-3"
         ng-class="{'has-error': (form.valor.$invalid && (form.$submitted || form.valor.$touched))}">
        <label>Valor</label>
        <input type="number" step="any" name="valor" ng-model="titulo.valor" class="form-control" required
               ng-change="atualizarValores(titulo)">
        <p class="help-block" ng-show="form.$submitted || form.valor.$touched">
            <i ng-show="form.valor.$error.required">Qual o valor dessa titulo?</i>
            <i ng-show="form.valor.$error.number">Valor inválido.</i>
        </p>
    </div>

    <div class="col-md-3"
         ng-class="{'has-error': (form.desconto.$invalid && (form.$submitted || form.desconto.$touched))}">
        <label>Desconto</label>
        <input type="number" step="any" name="desconto" ng-model="titulo.desconto" class="form-control"
               ng-change="atualizarValores(titulo)">
        <p class="help-block" ng-show="form.$submitted || form.desconto.$touched">
            <i ng-show="form.desconto.$error.number">Valor inválido.</i>
        </p>
    </div>

    <div class="col-md-3" ng-show="titulo.status === 'BAIXA_MANUAL'"
         ng-class="{'has-error': (form.valorPago.$invalid && (form.$submitted || form.valorPago.$touched))}">
        <label>Valor Pago</label>
        <input type="number" step="any" name="valorPago" ng-model="titulo.valorPago" class="form-control" required
               readonly>
        <p class="help-block" ng-show="form.$submitted || form.valorPago.$touched">
            <i ng-show="form.valorPago.$error.required">Qual valor foi pago nessa titulo?</i>
            <i ng-show="form.valorPago.$error.number">Valor inválido.</i>
        </p>
    </div>

    <div class="col-md-3"
         ng-class="{'has-error': (form.dataVencimento.$invalid && (form.$submitted || form.dataVencimento.$touched))}">
        <div class="input-group">
            <label>Vencimento</label>
            <div class="input-group">
                <input name="dataVencimento" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                       ng-model="titulo.dataVencimento"
                       is-open="status.opened" close-text="Close" required/>
                <i class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="status.opened = !status.opened">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </i>
            </div>
            <p class="help-block" ng-show="form.$submitted || form.dataVencimento.$touched">
                <i ng-show="form.dataVencimento.$error.required">
                    Quando o vencimento desta titulo?
                </i>
            </p>
        </div>
    </div>

    <div class="col-md-3" ng-show="titulo.status === 'BAIXA_MANUAL'"
         ng-class="{'has-error': (form.dataOcorrencia.$invalid && (form.$submitted || form.dataOcorrencia.$touched))}">
        <div class="input-group">
            <label>Data Ocorrência</label>
            <div class="input-group">
                <input name="dataOcorrencia" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                       ng-model="titulo.dataOcorrencia"
                       is-open="status.opened2" close-text="Close" ng-required="titulo.status === 'BAIXA_MANUAL'"/>
                <i class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="status.opened2 = !status.opened2">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </i>
            </div>
            <p class="help-block" ng-show="form.$submitted || form.dataOcorrencia.$touched">
                <i ng-show="form.dataOcorrencia.$error.required">
                    Quando esta titulo foi paga?
                </i>
            </p>
        </div>
    </div>

    <div class="col-md-3"
         ng-class="{'has-error': (form.modalidade.$invalid && (form.$submitted || form.modalidade.$touched))}">
        <label>Modalidade</label>
        <select name="modalidade" ng-model="titulo.modalidade" class="form-control" required
                ng-options="modalidade.value as modalidade.descricao for modalidade in modalidades">
            <option value="">---Escolha a modalidade do boleto---</option>
        </select>
        <p class="help-block" ng-show="form.$submitted || form.modalidade.$touched">
            <i ng-show="form.modalidade.$error.required">Qual modalidade de boleto deseja?</i>
        </p>
    </div>


    <div class="col-md-3"
         ng-class="{'has-error': (form.numeroBoleto.$invalid && (form.$submitted || form.numeroBoleto.$touched))}">
        <label>Número Boleto</label>
        <input type="text" name="numeroBoleto" ng-model="titulo.numeroBoleto" class="form-control">
    </div>


    <div class="col-xs-12">
        <br/>
        <br/>

        <div class="pull-right">
            <button class="btn btn-primary" type="submit">{{titulo.id ? 'Atualizar' : 'Salvar'}}</button>
            <button class="btn btn-danger" type="button" ng-show="titulo.id"
                    ng-click="remove(titulo)"
                    confirm="Tem certeza que desseja remover a titulo do(a) {{titulo.cliente.nome}} no valor de {{titulo.valor}} com vencimento para {{titulo.dataVencimento | date}}?">
                Remover
            </button>
            <a ng-href="#/titulos/cliente/{{clienteId}}" class="btn btn-default">Voltar</a>
        </div>
        <br/>
        <br/>
    </div>
</form>
