.ATIVO {
    color: green;
}

.INATIVO {
    color: orange;
}

.CANCELADO {
    color: red;
}

.NEW {
    background-color: #f0ad4e
}

.WAITING {
    background-color: #5bc0de
}

.PAID {
    background-color: #5cb85c
}

.UNPAID {
    background-color: #f0ad4e
}

.REFUNDED {
    background-color: #d9534f
}

.CONTESTED {
    background-color: #f0ad4e
}

.CANCELED {
    background-color: #d9534f
}

.LINK {
    background-color: #5bc0de
}