select {
	text-transform: uppercase;
}

button {
	margin-right: 5px;
	margin-top: 5px;
}

input:required:invalid, input:focus:invalid {
	background-image: url(../img/invalid.png);
	background-position: 97% 50%;
	background-repeat: no-repeat;
}

input:required:valid {
	background-image: url(../img/valid.png);
	background-position: 97% 50%;
	background-repeat: no-repeat;
}