<h1 class="page-header">
    <a ng-href="#/">
        <i class="fa fa-arrow-circle-left"></i>
    </a>
    Mikrotiks
    <button class="btn btn-primary pull-right" ng-click="atualizarTodasConexoes()">
        Atualizar todas conexões
    </button>
    <a href="#/mikrotik" class="btn btn-primary pull-right">
        <i class="fa fa-plus"></i>
        Adicionar
    </a>
</h1>

<br/>
<br/>

<div>
    <table class="table table-striped table-bordered table-hover dataTable no-footer">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Host</th>
            <th>Porta</th>
            <th>Usuario</th>
            <th>Senha</th>
            <th>Descricao</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="it in mikrotiks track by it.id">
            <td>{{it.id}}</td>
            <td>{{it.name}}</td>
            <td>{{it.host}}</td>
            <td>{{it.port}}</td>
            <td>{{it.login}}</td>
            <td>
                <div title="{{it.pass}}">
                    passe o mouse
                </div>
            </td>
            <td>
                <div title="{{it.description}}">{{it.description | limitTo:16}}</div>
            </td>
            <td class="text-center">
                <a ng-href="#/mikrotik/{{it.id}}" class="btn btn-primary" title="Editar">
                    <i class="fa fa-edit"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>