<h1 class="page-header">
    <a ng-href="#/profiles">
        <i class="fa fa-arrow-circle-left"></i>
    </a>
    Profile
    <small>{{profile.id ? 'Editar' : 'Novo'}}</small>
</h1>

<form name="form" class="form-horizontal" ng-submit="form.$valid && save(profile)" novalidate>
    <div class="col-lg-6" ng-class="{'has-error': (form.name.$invalid && (form.$submitted || form.name.$touched))}">
        <label>Nome</label>
        <input name="name" ng-model="profile.name" class="form-control" type="text" required>
        <p class="help-block" ng-show="form.$submitted || form.name.$touched">
            <i ng-show="form.name.$error.required">Qual é seu nome?</i>
        </p>
    </div>

    <div class="col-lg-3"
         ng-class="{'has-error': (form.username.$invalid && (form.$submitted || form.username.$touched))}">
        <label>Usuário</label>
        <input name="username" ng-model="profile.username" class="form-control" type="text" required disabled="true">
        <p class="help-block" ng-show="form.$submitted || form.username.$touched">
            <i ng-show="form.username.$error.required">Digite o seu nome de usuário</i>
        </p>
    </div>

    <div class="col-lg-3"
         ng-class="{'has-error': (form.password.$invalid && (form.$submitted || form.password.$touched))}">
        <label>Senha</label>
        <input name="password" ng-model="profile.password" class="form-control" type="password" required>
        <p class="help-block" ng-show="form.$submitted || form.password.$touched">
            <i ng-show="form.password.$error.required">Por favor digite uma senha.</i>
        </p>
    </div>

    <div class="col-lg-12">
        <br/>
        <br/>

        <div class="pull-right">
            <button class="btn btn-primary" type="submit">{{profile.id ? 'Atualizar' : 'Salvar'}}</button>
            <a ng-href="#/" class="btn btn-default">Voltar</a>
        </div>
        <br/>
        <br/>
    </div>
</form>
