<h1 class="page-header">
    <a ng-href="#/cliente/{{clienteId}}/dashboard">
        <i class="fa fa-arrow-circle-left"></i>
    </a>
    Contrato
    <small>{{contrato.id ? 'Editar' : 'Novo'}}</small>
</h1>

<form name="form" class="form-horizontal" ng-submit="form.$valid && save(contrato)" novalidate>
    <div class="col-lg-12" ng-class="{'has-error': (form.nome.$invalid && (form.$submitted || form.nome.$touched))}">
        <label>Cliente</label>
        <input name="nome" ng-model="contrato.cliente.nome" class="form-control" type="text" required readonly>
        <p class="help-block" ng-show="form.$submitted || form.nome.$touched">
            <i ng-show="form.nome.$error.required">Nenhum cliente selecionado.</i>
        </p>
    </div>

    <div class="col-lg-6" ng-class="{'has-error': (form.plano.$invalid && (form.$submitted || form.plano.$touched))}">
        <label>Plano</label>
        <select name="plano" ng-model="contrato.plano" class="form-control" required
                ng-options="plano.nome for plano in planos track by plano.id">
            <option value="">---Escolha o melhor plano para você---</option>
        </select>
        <p class="help-block" ng-show="form.$submitted || form.plano.$touched">
            <i ng-show="form.plano.$error.required">Qual plano melhor lhe atende?</i>
        </p>
    </div>

    <div class="col-lg-3"
         ng-class="{'has-error': (form.dataInstalacao.$invalid && (form.$submitted || form.dataInstalacao.$touched))}">
        <div class="input-group">
            <label>Data instalação</label>
            <div class="input-group">
                <input name="dataInstalacao" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                       ng-model="contrato.dataInstalacao" max-date="hoje"
                       is-open="status.opened" close-text="Close" required/>
                <i class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="status.opened = !status.opened"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                </i>
            </div>
            <p class="help-block" ng-show="form.$submitted || form.dataInstalacao.$touched">
                <i ng-show="form.dataInstalacao.$error.required">
                    Quando foi feita sua instalação?
                </i>
            </p>
        </div>
    </div>

    <div class="col-lg-3"
         ng-class="{'has-error': (form.vencimento.$invalid && (form.$submitted || form.vencimento.$touched))}">
        <label>Vencimento</label>
        <select name="vencimento" ng-model="contrato.vencimento" class="form-control" required
                ng-options="item for item in [5,10,20]">
            <option value="">---Escolha o melhor dia para o vencimento---</option>
        </select>
        <p class="help-block" ng-show="form.$submitted || form.vencimento.$touched">
            <i ng-show="form.vencimento.$error.required">Qual é o melhor dia para o vencimento da sua titulo?</i>
        </p>
    </div>

    <div class="col-lg-6"
         ng-class="{'has-error': (form.equipamento.$invalid && (form.$submitted || form.equipamento.$touched))}">
        <label>Equipamento</label>
        <select name="equipamento" ng-model="contrato.equipamento" class="form-control"
                ng-options="equipamento.modelo + ' - ' + equipamento.mac group by equipamento.marca for equipamento in equipamentosInstalacao track by equipamento.id">
            <option value="">---Qual equipamento utilizado na instalação---</option>
        </select>
    </div>

    <div class="col-lg-6"
         ng-class="{'has-error': (form.equipamentoWifi.$invalid && (form.$submitted || form.equipamentoWifi.$touched))}">
        <label>Equipamento Wifi</label>
        <select name="equipamentoWifi" ng-model="contrato.equipamentoWifi" class="form-control"
                ng-options="equipamento.modelo + ' - ' + equipamento.mac group by equipamento.marca for equipamento in equipamentosWifi track by equipamento.id">
            <option value="">---Qual equipamento utilizado na instalação---</option>
        </select>
    </div>

    <div class="col-lg-12">
        <br/>
        <br/>

        <div class="pull-right">
            <button class="btn btn-primary" type="submit">{{contrato.id ? 'Atualizar' : 'Salvar'}}</button>
            <button class="btn btn-danger" type="button" ng-show="contrato.id"
                    ng-click="remove(contrato)" confirm="Tem certeza que desseja remover o contrato do(a) {{contrato.cliente.nome}}?">Remover
            </button>
            <a ng-href="#/cliente/{{clienteId}}/dashboard" class="btn btn-default">Voltar</a>
        </div>
        <br/>
        <br/>
    </div>
</form>
