<h1 class="page-header">
    <a ng-href="#/cedentes">
        <i class="fa fa-arrow-circle-left"></i>
    </a>
    Cedente
    <small>{{cedente.id ? 'Editar' : 'Novo'}}</small>
</h1>

<form name="form" class="form-horizontal" ng-submit="form.$valid && save(cedente)" novalidate>

    <div class="col-lg-6"
         ng-class="{'has-error': (form.nome.$invalid && (form.$submitted || form.nome.$touched))}">
        <label>Nome</label>
        <input type="text" name="nome" ng-model="cedente.nome" class="form-control" required>
        <p class="help-block" ng-show="form.$submitted || form.nome.$touched">
            <i ng-show="form.nome.$error.required">Qual o nome do cedente?</i>
        </p>
    </div>

    <div class="col-lg-3"
         ng-class="{'has-error': (form.cpfCnpj.$invalid && (form.$submitted || form.cpfCnpj.$touched))}">
        <label>CPF/CNPJ</label>
        <input type="text" name="cpfCnpj" ng-model="cedente.cpfCnpj" class="form-control" required>
        <p class="help-block" ng-show="form.$submitted || form.cpfCnpj.$touched">
            <i ng-show="form.cpfCnpj.$error.required">Qual o CPF/CNPJ do cedente?</i>
        </p>
    </div>

    <div class="col-lg-2"
         ng-class="{'has-error': (form.codigo.$invalid && (form.$submitted || form.codigo.$touched))}">
        <label>Código Convênio</label>
        <input type="number" name="codigo" ng-model="cedente.codigo" class="form-control" required>
        <p class="help-block" ng-show="form.$submitted || form.codigo.$touched">
            <i ng-show="form.codigo.$error.required">Qual o código de convêncio do cedente com o banco?</i>
        </p>
    </div>

    <div class="col-lg-1"
         ng-class="{'has-error': (form.digitoVerificador.$invalid && (form.$submitted || form.digitoVerificador.$touched))}">
        <label>DV</label>
        <input type="number" name="digitoVerificador" ng-model="cedente.digitoVerificador" class="form-control"
               required>
        <p class="help-block" ng-show="form.$submitted || form.digitoVerificador.$touched">
            <i ng-show="form.digitoVerificador.$error.required">Qual o digito verificador do código do convêni?</i>
        </p>
    </div>

    <div class="col-lg-3"
         ng-class="{'has-error': (form.numeroAgencia.$invalid && (form.$submitted || form.numeroAgencia.$touched))}">
        <label>Agência</label>
        <input type="number" name="numeroAgencia" ng-model="cedente.numeroAgencia" class="form-control" required>
        <p class="help-block" ng-show="form.$submitted || form.numeroAgencia.$touched">
            <i ng-show="form.numeroAgencia.$error.required">Qual o número da agência do cedente?</i>
        </p>
    </div>

    <div class="col-lg-1"
         ng-class="{'has-error': (form.digitoAgencia.$invalid && (form.$submitted || form.digitoAgencia.$touched))}">
        <label>DV</label>
        <input type="number" name="digitoAgencia" ng-model="cedente.digitoAgencia" class="form-control">
    </div>

    <div class="col-lg-3"
         ng-class="{'has-error': (form.numeroConta.$invalid && (form.$submitted || form.numeroConta.$touched))}">
        <label>Conta</label>
        <input type="number" name="numeroConta" ng-model="cedente.numeroConta" class="form-control" required>
        <p class="help-block" ng-show="form.$submitted || form.digitoConta.$touched">
            <i ng-show="form.numeroConta.$error.required">Qual o número da conta do cedente?</i>
        </p>
    </div>

    <div class="col-lg-1"
         ng-class="{'has-error': (form.digitoConta.$invalid && (form.$submitted || form.digitoConta.$touched))}">
        <label>DV</label>
        <input type="number" name="digitoConta" ng-model="cedente.digitoConta" class="form-control" required>
        <p class="help-block" ng-show="form.$submitted || form.digitoConta.$touched">
            <i ng-show="form.digitoConta.$error.required">Qual o digito verificador da conta do cedente?</i>
        </p>
    </div>

    <div class="col-lg-4"
         ng-class="{'has-error': (form.codigoOperacao.$invalid && (form.$submitted || form.codigoOperacao.$touched))}">
        <label>Cód. Operação</label>
        <input type="number" name="codigoOperacao" ng-model="cedente.codigoOperacao" class="form-control">
    </div>

    <div class="col-lg-4"
         ng-class="{'has-error': (form.prazo.$invalid && (form.$submitted || form.prazo.$touched))}">
        <label>Prazo</label>
        <div class="input-group">
            <input type="number" name="prazo" ng-model="cedente.prazo" class="form-control" required>
            <span class="input-group-addon">dia(s)</span>
        </div>
        <p class="help-block" ng-show="form.$submitted || form.prazo.$touched">
            <i ng-show="form.prazo.$error.required">Até quantos dias os bancos podem aceitar um boleto após o
                vencimento?</i>
        </p>
    </div>

    <div class="col-lg-4"
         ng-class="{'has-error': (form.multa.$invalid && (form.$submitted || form.multa.$touched))}">
        <label>Multa</label>

        <div class="input-group">
            <input type="number" name="multa" ng-model="cedente.multa" class="form-control" required>
            <span class="input-group-addon">%</span>
        </div>
        <p class="help-block" ng-show="form.$submitted || form.multa.$touched">
            <i ng-show="form.multa.$error.required">Qual deve ser aplicado de multa após o vencimento?</i>
        </p>
    </div>

    <div class="col-lg-4"
         ng-class="{'has-error': (form.juros.$invalid && (form.$submitted || form.juros.$touched))}">
        <label>Juros</label>

        <div class="input-group">
            <input type="number" name="juros" ng-model="cedente.juros" class="form-control" required>
            <span class="input-group-addon">%</span>
        </div>
        <p class="help-block" ng-show="form.$submitted || form.juros.$touched">
            <i ng-show="form.juros.$error.required">Quanto deve ser aplicado de juros por dia após o vencimento?</i>
        </p>
    </div>

    <div class="col-lg-3" ng-class="{'has-error': (form.cep.$invalid && (form.$submitted || form.cep.$touched))}">
        <label>CEP</label>
        <input name="cep" type="text" ng-model="cedente.cep" class="form-control" required
               pattern="(^[0-9]{5}-[0-9]{3}$) || (^[0-9]{8}$)"
               ng-blur="form.cep.$valid && buscarEnderecoPorCep(cedente.cep, form)">
        <p class="help-block" ng-show="form.$submitted || form.cep.$touched">
            <span ng-show="form.cep.$error.required">Digite o CEP para que possamos encontrar seu endereço.</span>
            <span ng-show="form.cep.$error.pattern">CEP inválido.</span>
            <span ng-show="form.cep.$error.notFound">CEP não encontrado.</span>
        </p>
    </div>

    <div class="col-lg-10"
         ng-class="{'has-error': (form.logradouro.$invalid && (form.$submitted || form.logradouro.$touched))}">
        <label>Logradouro</label>
        <input name="logradouro" type="text" ng-model="cedente.logradouro" class="form-control" required>
        <p class="help-block" ng-show="form.$submitted || form.logradouro.$touched">
            <span ng-show="form.logradouro.$error.required">Qual a rua ou avenida que você mora?</span>
        </p>
    </div>

    <div class="col-lg-5" ng-class="{'has-error': (form.bairro.$invalid && (form.$submitted || form.bairro.$touched))}">
        <label>Bairro</label>
        <input name="bairro" type="text" ng-model="cedente.bairro" class="form-control" required readonly>
        <p class="help-block" ng-show="form.$submitted || form.bairro.$touched">
            <span ng-show="form.bairro.$error.required">Informe um CEP válido para encontrar seu bairro.</span>
        </p>
    </div>
    <div class="col-lg-5" ng-class="{'has-error': (form.cidade.$invalid && (form.$submitted || form.cidade.$touched))}">
        <label>Cidade</label>
        <input name="cidade" type="text" ng-model="cedente.cidade" class="form-control" required
               readonly>
        <p class="help-block" ng-show="form.$submitted || form.cidade.$touched">
            <span ng-show="form.cidade.$error.required">Informe um CEP válido para encontrar sua cidade.</span>
        </p>
    </div>
    <div class="col-lg-2" ng-class="{'has-error': (form.uf.$invalid && (form.$submitted || form.uf.$touched))}">
        <label>UF</label>
        <input name="uf" type="text" ng-model="cedente.uf" class="form-control" required
               readonly>
        <p class="help-block" ng-show="form.$submitted || form.uf.$touched">
            <span ng-show="form.uf.$error.required">Informe um CEP válido para encontrar seu distrito.</span>
        </p>
    </div>

    <div class="col-lg-12">
        <br/>
        <br/>

        <div class="pull-right">
            <button class="btn btn-primary" type="submit">{{cedente.id ? 'Atualizar' : 'Salvar'}}</button>
            <button class="btn btn-danger" type="button" ng-show="cedente.id"
                    ng-click="remove(cedente)"
                    confirm="Tem certeza que desseja remover a cedente {{cedente.nome}}?">
                Remover
            </button>
            <a ng-href="#/cedentes" class="btn btn-default">Voltar</a>
        </div>
        <br/>
        <br/>
    </div>
</form>
