<h1 class="page-header">
    Cliente
    <small>{{cliente.id ? 'Editar' : 'Novo'}}</small>
</h1>

<sicoba-alert></sicoba-alert>

<form name="form" class="form-horizontal" ng-submit="form.$valid && save(cliente)" novalidate>
    <div class="col-lg-12" ng-class="{'has-error': (form.nome.$invalid && (form.$submitted || form.nome.$touched))}">
        <label>Nome</label>
        <input name="nome" ng-model="cliente.nome" class="form-control" type="text" required>
        <p class="help-block" ng-show="form.$submitted || form.nome.$touched">
            <span ng-show="form.nome.$error.required">Escreva o nome do cliente.</span>
        </p>
    </div>

    <div class="col-lg-3">
        <div class="input-group">
            <label>Nascimento</label>
            <div class="input-group">
                <input name="nascimento" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                       ng-model="cliente.dataNascimento" max-date="hoje"
                       is-open="status.opened" close-text="Close"/>
                <i class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="status.opened = !status.opened"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                </i>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <label>RG</label>
        <input name="rg" type="text" ng-model="cliente.rg" class="form-control"/>
    </div>

    <div class="col-lg-4"
         ng-class="{'has-error': (form.cpfCnpj.$invalid && (form.$submitted || form.cpfCnpj.$touched))}">
        <label>CPF/CNPJ</label>
        <input name="cpfCnpj" type="text" ng-model="cliente.cpfCnpj" class="form-control" required>
        <p class="help-block" ng-show="form.$submitted || form.cpfCnpj.$touched">
            <span ng-show="form.cpfCnpj.$error.required">Precisamos do seu CPF/CNPJ.</span>
        </p>
    </div>

    <div class="col-lg-2">
        <label>Status</label>
        <select name="status" ng-model="cliente.status" class="form-control">
            <option>ATIVO</option>
            <option>INATIVO</option>
            <option>CANCELADO</option>
        </select>
    </div>
    <div class="col-lg-4"
         ng-class="{'has-error': (form.foneTitular.$invalid && (form.$submitted || form.foneTitular.$touched))}">
        <label>Fone Titular</label>
        <input name="foneTitular" type="tel" ng-model="cliente.foneTitular" class="form-control" required>
        <p class="help-block" ng-show="form.$submitted || form.foneTitular.$touched">
            <span ng-show="form.foneTitular.$error.required">Precisamos do seu telefone.</span>
        </p>
    </div>
    <div class="col-lg-4">
        <label>Contato</label>
        <input name="contato" type="text" ng-model="cliente.contato" class="form-control"/>
    </div>
    <div class="col-lg-4">
        <label>Fone Contato</label>
        <input name="foneContato" type="tel" ng-model="cliente.foneContato" class="form-control"/>
    </div>
    <div class="col-lg-9">
        <label>Email</label>
        <input name="email" type="email" ng-model="cliente.email" class="form-control"/>
    </div>
    <div class="col-lg-3" ng-class="{'has-error': (form.cep.$invalid && (form.$submitted || form.cep.$touched))}">
        <label>CEP</label>
        <input name="cep" type="text" ng-model="cliente.endereco.cep" class="form-control" required
               pattern="(^[0-9]{5}-[0-9]{3}$) || (^[0-9]{8}$)"
               ng-blur="form.cep.$valid && buscarEnderecoPorCep(cliente.endereco.cep, form)">
        <p class="help-block" ng-show="form.$submitted || form.cep.$touched">
            <span ng-show="form.cep.$error.required">Digite seu CEP para que possamos encontrar seu endereço.</span>
            <span ng-show="form.cep.$error.pattern">CEP invalido.</span>
            <span ng-show="form.cep.$error.notFound">CEP não encontrado.</span>
        </p>
    </div>
    <div class="col-lg-6" ng-class="{'has-error': (form.cidade.$invalid && (form.$submitted || form.cidade.$touched))}">
        <label>Cidade</label>
        <select name="cidade" ng-model="cidade" class="form-control" required
                ng-options="cidade.nome group by cidade.estado.nome for cidade in cidades track by cidade.id">
            <option value="">-- Escolha sua cidade --</option>
        </select>
        <p class="help-block" ng-show="form.$submitted || form.cidade.$touched">
            <span ng-show="form.cidade.$error.required">Você esqueceu de informar a sua cidade.</span>
        </p>
    </div>
    <div class="col-lg-6" ng-class="{'has-error': (form.bairro.$invalid && (form.$submitted || form.bairro.$touched))}">
        <label>Bairro</label>
        <select name="bairro" ng-model="cliente.endereco.bairro" class="form-control" required>
            <option value="">-- Escolha sua cidade --</option>
        </select>
        <p class="help-block" ng-show="form.$submitted || form.bairro.$touched">
            <span ng-show="form.bairro.$error.required">Você esqueceu de informar a seu bairro.</span>
        </p>
    </div>
    <div class="col-lg-10"
         ng-class="{'has-error': (form.logradouro.$invalid && (form.$submitted || form.logradouro.$touched))}">
        <label>Logradouro</label>
        <input name="logradouro" type="text" ng-model="cliente.endereco.logradouro" class="form-control" required>
        <p class="help-block" ng-show="form.$submitted || form.logradouro.$touched">
            <span ng-show="form.logradouro.$error.required">Qual a rua ou avenida que você mora?</span>
        </p>
    </div>
    <div class="col-lg-2">
        <label>Numero</label>
        <input name="numero" type="text" ng-model="cliente.endereco.numero" class="form-control"/>
    </div>
    <div class="col-lg-12">
        <label>Complemento</label>
        <input name="complemento" type="text" ng-model="cliente.endereco.complemento" class="form-control"/>
    </div>

    <div class="col-lg-12">
        <br/>
        <br/>

        <div class="pull-right">
            <button class="btn btn-primary" type="submit">{{cliente.id ? 'Atualizar' : 'Salvar'}}</button>
            <a ng-href="#/clientes" class="btn btn-default">Cancelar</a>
        </div>
        <br/>
        <br/>
    </div>
</form>
