<h1 class="page-header" xmlns="http://java.sun.com/jsf/html">Clientes</h1>

<div class="row">
    <div class="col-lg-6">
        <form ng-submit="buscarPorNome(search.nome)">
            <label>
                Nome
                <div class="input-group">
                    <input ng-model="search.nome" name="nome" type="text" class="form-control" placeholder="Nome">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="fa fa-search"></span></button>
                    </span>
                </div><!-- /input-group -->
            </label>
        </form>
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<br/>
<br/>

<div>
    <table class="table table-striped table-bordered table-hover dataTable no-footer">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Status</th>
            <th>IP</th>
            <th>Mac</th>
            <th>---</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="it in clientes track by it.id">
            <td>{{it.id}}</td>
            <td>{{it.nome}}</td>
            <td>{{it.status}}</td>
            <td>ip aqui</td>
            <td>mac aqui</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>