<h1 class="page-header">
    <a ng-href="#/">
        <i class="fa fa-arrow-circle-left"></i>
    </a>
    Notas
</h1>

<div class="col-md-12">
    <form name="form" class="form-horizontal" ng-submit="form.$valid && findItensByDateOfProvision(params)" novalidate>
        <div class="row">
            <div class="col-md-3"
                 ng-class="{'has-error': (form.start.$invalid && (form.$submitted || form.start.$touched))}">
                <label>Início</label>
                <div class="input-group">
                    <input name="start" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                           ng-model="params.start"
                           is-open="status.opened" close-text="Close" required/>
                    <i class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="status.opened = !status.opened">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </i>
                </div>
                <p class="help-block" ng-show="form.$submitted || form.start.$touched">
                    <i ng-show="form.start.$error.required">A partir de qual data deseja consultar?</i>
                </p>
            </div>

            <div class="col-md-3"
                 ng-class="{'has-error': (form.end.$invalid && (form.$submitted || form.end.$touched))}">
                <label>Fim</label>
                <div class="input-group">
                    <input name="end" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                           ng-model="params.end"
                           is-open="status.opened2" close-text="Close" required/>
                    <i class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="status.opened2 = !status.opened2">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </i>
                </div>
                <p class="help-block" ng-show="form.$submitted || form.end.$touched">
                    <i ng-show="form.end.$error.required">Até que data deseja consultar?</i>
                </p>
            </div>


            <div class="col-md-2"
                 ng-class="{'has-error': (form.status.$invalid && (form.$submitted || form.status.$touched))}">
                <label>Status</label>
                <select name="status" ng-model="params.status" class="form-control"
                        ng-options="status.value as status.description for status in statusList">
                    <option value="">Todos</option>
                </select>
            </div>
            <div class="col-md-4">
                <label>Conta Gerencianet</label>
                <select name="gerencianetAccount" ng-model="params.gerencianetAccount" class="form-control"
                        ng-options="account.name for account in accounts track by account.id">
                    <option value="">Todas</option>
                </select>
            </div>

        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">
                    Consultar
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="dataTables_wrapper form-inline dt-bootstrap" style="padding-top: 20px;">
    <h2>Resultados</h2>
    <hr/>
    <div class="row" style="margin-bottom: 1em">
        <div class="col-sm-9">
            <div class="dataTables_filter">
                <button class="btn btn-primary" ng-click="gerarArquivoSyncNfes()" ng-disabled="totalSelecionado() == 0">Gerar
                    {{totalSelecionado()}} nota(s)
                </button>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="dataTables_filter">
                <label>Filtro:
                    <input ng-model="searchText" type="search" class="form-control input-sm" placeholder="Filtrar...">
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table cellspacing="0" width="100%" class="table table-striped table-bordered dataTable">
            <thead>
            <tr>
                <th><input type="checkbox" ng-model="allSelected" ng-change="toogle()"/></th>
                <th>Id</th>
                <th>Descrição</th>
                <th>Cliente</th>
                <th>Valor Unitário</th>
                <th>Desconto</th>
                <th>Emissão</th>
                <th>Prestação</th>
                <th>Conta</th>
                <th>Cobrança</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="it in notas | filter:searchText | limitTo:limit:(currentPage -1) * limit track by it.id">
                <td><input type="checkbox" ng-model="it.selected"/></td>
                <td>{{it.id}}</td>
                <td>{{it.descricao}}</td>
                <td>
                    <a ng-class="it.charge.cliente.status"
                       ng-href="#/cliente/{{it.charge.cliente.id}}/dashboard">{{it.charge.cliente.nome}}</a>
                </td>
                <td>{{it.valorUnitario | currency}}</td>
                <td>{{it.desconto | currency}}</td>
                <td>{{it.nfe.dataEmissao | date:'dd/MM/yyyy'}}</td>
                <td>{{it.nfe.dataPrestacao | date:'dd/MM/yyyy'}}</td>
                <td class="text-center">
                    <a title="Conta gerencianet"
                       ng-href="#/gerencianet/account/{{it.charge.gerencianetAccount.id}}">
                        {{it.charge.gerencianetAccount.name}}
                    </a>
                </td>
                <td class="text-center">
                    <div ng-hide="it.charge.url || it.charge.paymentUrl">
                        {{it.charge.chargeId}}
                    </div>
                    <a title="cobranca{{it.charge.id}}.pdf" ng-href="{{it.charge.url}}" ng-show="it.charge.url"
                       target="_blank">
                        {{it.charge.chargeId}}
                    </a>
                    <a title="cobranca{{it.charge.id}}.pdf" ng-href="{{it.charge.paymentUrl}}" ng-show="it.charge.paymentUrl"
                       target="_blank">
                        {{it.charge.chargeId}}
                    </a>
                </td>
                <td class="text-center" title="{{it.charge | chargeStatusDescription}}">
                    <i class="label" ng-class="it.charge | chargeStatusLabelClass">
                        {{it.charge | chargeStatusName}}
                    </i>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="3"></th>
                <th>Total</th>
                <th>{{notas | filter:searchText | sumOfValue:'value' | currency}}</th>
                <th>{{notas | filter:searchText | sumOfValue:'paidValue' | currency}}</th>
                <th>{{notas | filter:searchText | sumOfValue:'discount' | currency}}</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
 .nfe           </tr>
 .nfe           </.nfetfoot>

        </table>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="dataTables_length">
            <label>Exibir
                <select name="length" class="form-control input-sm" ng-model="limit" ng-init="limit = 10"
                        ng-options="value as value for value in [10,25,50,100]">
                </select>
            </label>

        </div>
    </div>
    <div class="col-sm-6">
        <uib-pagination total-items="notas.length" ng-model="currentPage" items-per-page="limit"
                        ng-init="currentPage = 1" class="pagination-sm" max-size="6"
                        boundary-links="true"></uib-pagination>
    </div>

    <div class="col-sm-3">
        <div class="dataTables_length">
            <div class="d.nfeataTables_info" ng-show="notas">
                Exibindo de {{(currentPage - 1) * limit + 1}} até {{(currentPage - 1) * limit + limit}} de
                {{notas.length}}
            </div>
        </div>
    </div>
<.nfe/div>
</div>